$font-family-san-serif:'PT Serif',san-serif;
$font-primary:'Muli', sans-serif;
$font-secondary: 'Muli', sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

$primary: #002569;
$secondary: #c5a254;
// $tertiery: #e7e7e7;
$dark: #000;

$breadcrumb-bg:transparent;
$breadcrumb-active-color:$dark;
$headings-font-family:$font-primary;
$headings-font-weight:400;


$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1024px,
    xl: 1440px
);

@import "node_modules/bootstrap/scss/bootstrap";

@import '~slick-carousel/slick/slick';
//@import '~slick-carousel/slick/slick-theme';
@import '~smartphoto/scss/smartphoto';

h3, .h3{
    font-weight: 700;
    color:$primary;
}


@import "layout.scss";
@import "layout-mobile.scss";
@import "navmenu.scss";
@import "hamburger.scss";
@import "zindex.scss";
@import "custom.scss";