$header-height:30px;
$header-font-color:$dark;
$footer-height:360px;
$gap: 100px;
$smallgap: 60px;
$slider-height:960px;

#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    transition: all .3s ease;
    flex: 0 0 auto;
    width: 100%;
}

#content {
    flex: 1 0 auto;

    .content__inner {
        padding-top: $header-height;
        height: 100%;
        display: flex;
        align-items: justify;
        justify-content: justify;
        width: 100%;
    }
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
}




// ========== Slider ================
.main-slider {
    width: 100%;
    height: $slider-height;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;

    .slider-img {
        width: 100%;
        height: $slider-height;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .1;
    }
}

// =========== Header ================
#header {
    background: transparent;

    .header-inner {
        @extend .container;
        padding-top: 10px;
        padding-left: 0;
        display: flex;
        align-items: center;
        height: $header-height;
        position: relative;
        background: transparent;
        height: 26px;
        width: 100%;

        .header-contact {
            width: 100%;

            ul {
                list-style: none;
                float: left;
            }
        }
    }

    .header-inner2 {
        @extend .container;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        // align-items:center;
        height: 60px;
        position: relative;
        background: #002569;
        width:100%;
    }

    .header-logo {
        width: 106px;
        position: relative;

        a {
            display: block;
        }
    }

    .header-nav {
        width: 100%;
        position: relative;

    }

    .header-topline {
        display: none;
    }

    .header-hamburger {
        display: none;
    }

    .header-mobile-nav {
        display: none;
        padding-top: $header-height;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(#000, 0.9);

        .header-contact {
            padding: 10px 25px;

            .header-contact-item a {
                font-size: 1rem;
            }
        }

        .header-socialmedia {
            display: flex;
            padding: 0px 25px 10px 25px;

            .logo-fb,
            .logo-insta,
            .logo-twit,
            .logo-yt {
                width: 40px;
                height: 40px;
                margin-left: 0;
                margin-right: 8px;
            }
        }
    }
}

#header.dark {
    background: transparent;

    &:hover {
        background: transparent;
    }

    .header-nav {
        .nav-one>li>a {
            color: transparent;
        }
    }
}

// =========== Footer ================
#footer {
    font-size: 8px;
    margin-top: $smallgap;

    .footer-copyright {
        padding: 10px 0px;
        font-size: 15px;
        color: $secondary;
        background: #002569;
        width: 100%;
        text-align: center;

    }

    .footer-inner {
        margin-bottom: $smallgap;
        display: flex;
        align-items: center;
        width: 100%;
        flex: auto;

        h5 {
            margin-bottom: 1rem;
        }

        p,
        a {
            font-size: 13px;
        }

        .img-fluid {
            width: 75%;
        }
    }

    // .footer__socialmedia{
    // }

    // .footer__socialmedia__list {
    // }

    // a.footer__socialmedia__link,
    // a.footer__socialmedia__link:link,
    // a.footer__socialmedia__link:visited {
    // }

    // a.footer__socialmedia__link:focus,
    // a.footer__socialmedia__link:hover,
    // a.footer__socialmedia__link:active {
    // }

    .quicklink-list {
        padding: 0;
        margin: 0;
        font-size: 16px;
        list-style: none;

        >li {
            padding-bottom: 10px;
            line-height: 40px;
        }

        >li>a {
            color: rgba(94, 94, 94);

        }
    }

    .contact__list {
        padding: 0;
        margin: 0;
        font-size: 16px;
        list-style: none;

        >li {
            padding-bottom: 20px;
        }

        >li>a {
            color: rgba(94, 94, 94);

        }

        .company {
            line-height: 18px;
            padding-bottom: 25px;
        }

        .addr {
            a {
                line-height: 23px;
            }
        }

        .contact__item {
            display: flex;
            align-items: flex-start;
        }
    }

    .findus {
        display: flex;
        align-items: center;

        .nostyle {
            padding-left: 10px;
            padding-right: 10px;

            i {
                font-size: 35px;
            }
        }
    }

    .footer-quicklink-header {
        font-family:PT Serif;
        font-size: 36px;
        color: #002569;
        font-weight: bold;
    }

    .footer-quicklink-title {
        line-height: 20px;
        color: #c5a254;
        font-size: 20px;
    }

    .footer-inner-link {
        line-height: 22px;
        font-size: 15px;
    }

    .footer-tel-fax {
        font-size: 15px;
        color: #002569;
        margin-bottom: 0px;
    }

    .social-icon-facebook {
        font-size: 28px;
        color: #002569;
        display: inline;
        margin-right: 10px;
    }

    .social-icon-twitter {
        font-size: 28px;
        color: #002569;
        display: inline;
        margin-right: 10px;
        border-radius: 0px;
    }

    .social-icon-linkedin {
        font-size: 28px;
        color: #002569;
        display: inline;
        margin-right: 15px;
    }

    .footer-inner-container{
        text-align:-webkit-left;
        margin:0px auto;
        margin-bottom:60px;
}

.footer-email{
    font-size: 15px;
    color: #002569;
    margin-bottom: 0px;
}
.footer-address{
    font-size: 15px;
    color: #002569;
    margin-bottom: 0px;
}







}

// ============= Page ================
.company-name {
    font-weight: bold;
}

#banner.banner-main {
    padding-top: 0px;
    overflow: hidden;
    width: 100%;

    .banner-list {
        width: 100%;
        height: calc(100vh - 70px);
    }

    .banner-item {
        height: calc(100vh - 70px);
        margin: 1px; // offset

        .banner-item-inner {
            @extend .container;
            padding: 0px;
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
        }


        .banner-content {
            width: 80%;
            flex: 0 0 50%;
            background: transparent;
            color: white;
            margin-left: 440px;
            font-size: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px black;

        }
    }
}

// ============= END Page ================

body.scrolled,
body.scrolled-up {
    // #header {
    //     background:rgba(#fff, .9);
    //     .header-nav{
    //         .nav-one > li > a{    
    //             color:#000;
    //         }
    //     }
    // }
    // #header:hover{
    //     background:rgba(#fff, 1);
    // }
}

// ========== subpage banner ===========
.subpage-banner .subpage-banner-item {
    padding-top: 120px;
    width: 100%;
    height: 330px;
    margin: auto;
    background: #f2f1f0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

// ======= section ===========
.section-products {
    margin: $gap 0px;

    .font-color {
        color: rgba(65, 65, 65);
    }

    .max-width {
        max-width: 800px;
        margin: auto;
    }

    img {
        width: 25%;
    }
}

.section-aboutus {
    .aboutus-img {
        background: "img/whyus-bg.jpg";
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: content-box;
        display: inline-block;
        width: 100%;
    }

    .aboutus-content {
        text-align: justify;
        display: flex;
        align-items: center;
        // background:transparent;;
    }
    
}

.about{
    .section-about-title{
        color:#c5a254; 
        padding-top:2px; 
        // margin-top:100px;
    }

    .section-about-header{
        color:#002569; 
        font-size: 30px; 
        font-family:PT Serif; 
        font-weight:bold;
        width:100%;
        display:table;
        float:left;
        width:420px;
    }

    .section-about-paragraph{
        font-size:15px;
        float:left;
        width:751px;
        margin-top:-120px;
    }
}

.whyus{
    text-align:center;

    .whyus-content{
        color:#fff; 
        font-size:17px; 
        padding-left:20px; 
        text-align:center;
        font-family:Muli;
    }
    .whyus-title{
        font-weight:bold;
        text-align:center;
        margin:0px auto;
        margin-bottom:10px;
        font-size:36px; 
        text-align:center; 
        color:#c5a254; 
        font-family:PT Serif;
    }

    .whyus-splitter{
        text-align:-webkit-left;
        margin:0px auto;
        width: 90px;
        height: 4px;
        background: #ac893a;
        margin-top: 40px;
    }
    .whyus-inner-icons{
        width:70%;
        margin:0px auto;
        align-items:center; 
        padding-bottom:10px; 
        display:flex;
        text-align:center;
    }
    .btn {
        color:#fff; 
            background:#c5a254;
            margin:0px auto;
            border-radius:0px;
            border:0px;

        .btn-secondary{
            margin-bottom:60px;
            padding-left:20px;
            padding-right:20px;
            padding-top:5px;
            padding-bottom:5px;
        }
}

    .whyus-icons-title{
        color:white;
        font-family:Muli;
        font-size:18px;
    }

}


.sustainability {
    background: transparent;
    padding-top: $gap;
    padding-bottom: $gap;

    .sustainability-header{
        color:#c5a254;
        font-size:20px;
    }
    .sustainability-title{
        color:#002569; 
        font-family:PT Serif;
        font-size:33px;
    }
    
}



.section-4pic {
    .row {
        height: 100%;
        text-align:center;
    }

    .col-lg-3 {
        padding-bottom: 5px;

        .card {
            height: 100%;

            .card-header {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .card-img-top {
                height: 300px;
            }

            // h5{
            //     font-weight: bold;
            // }
        }

        .overlay {
            .text-block {}
        }
    }

    .col-sm-3:hover .overlay {}
}

.section-gallery {
    .col-12 {
        padding-bottom: 10px;
    }
}

// ======= custom ===========
.engaging-customer {
    height: 350px;
    background: url(/img/cta-bg_02.jpg);
    // background: rgba(30,96,180);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(191, 191, 191);
    padding-bottom: $gap;
    padding-top: $gap;
    display: flex;
    align-items: center;

    .btn {
        font-size: 15px;
    }
}

// ======== About Us =========
.page-aboutus {
    margin-top: $smallgap;

    .w-20 {
        img {
            height: 150px;
        }
    }

    .archievement {
        margin-bottom: $smallgap;

        .singborder {
            border: 3px solid lightgrey;
            height: 125px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h3 {
                padding-top: 1rem;
            }

            p {
                padding: 5px;
            }
        }

        .archieve {
            border: 3px solid darkgray;
            padding: 3px;
            margin: 10px;
        }
    }

    .section-3button {
        background-color: #eee;

        h2 {
            color: $primary;
        }

        .row {
            height: 213px;

            .next {
                background: #fff;
                padding: 30px 0px;
                margin-bottom: 15px;
                height: 100%;

                .icon {
                    width: 80px;
                    height: 80px;
                    display: block;
                    margin-bottom: 20px;
                    margin-right: 3rem;
                }

                .fas {
                    font-size: 90px;
                }

                .btn {
                    width: 100%;
                    height: 100%;
                    color: #49AA00;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 0px;
                }
            }
        }
    }

    
}

// ======== Our Products =========
.page-ourproduct {
    padding-top: $smallgap;
    padding-bottom: $smallgap;
    background-color: #f5f5f5;

    .nav-tabs {
        color: $primary;
        background-color: #fff;
        border-bottom: none;
    }

    .nav-item>a {
        border-bottom: 3px solid transparent;
    }

    .nav-link {
        border: 0px solid transparent;
    }

    .nav-item {
        width: 20%;
    }

    .nav-item>a.active,
    .nav-item>a:hover {
        border: none;
        border-bottom: 3px solid $primary;
    }

    .product-item {
        height: 100%;
        padding: 5px;

        .card {
            box-shadow: 0px 2px 4px #CCC;
            transition: all .3s ease;

            &:hover {
                box-shadow: 0px 4px 8px grey;
            }
        }

    }

    a:hover {
        text-decoration: none;
    }

    .card {
        .card-img {
            width: 100%;
            position: relative;
            height: 0;
            padding-bottom: 100%;
            overflow: hidden;

            img {
                padding: 15px;
                position: absolute;
                left: 20%;
                top: 20%;
                transform: translate(-50%, -50%);
            }
        }

    }
}

// ======== Product Details =========
.page-product-detail {
    padding-top: $header-height;
    margin-top: $smallgap;
    margin-bottom: $smallgap;

    .text-container {
        text-align: justify;
    }

    .btn-secondary {
        margin: 12px;
        border-radius: 0px;

    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .product-img {
        position: relative;
        overflow: hidden;

        .product-img-container {
            height: 50vh;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }



    // .w-25{
    //     img{
    //     height:100px;
    //     }
    // }
}

// ========== Gallery ===========
.page-gallery {
    margin-top: $smallgap;
    margin-bottom: $smallgap;
}

.gallery-item {
    width: 50%;
    padding: 3px;

    @include media-breakpoint-up(sm) {
        width: 33.333333%;
    }

    img {
        width: 100%;
    }
}

// ======== Contact uS =========
.page-contactus {
    margin-top: $smallgap;
    margin-bottom: $smallgap;
}

.contact-list {
    height: 100%;
    border: 1px solid $secondary;
    padding: 20px;
}

.contact-list .contact-item {
    display: flex;
    margin-bottom: 10px;
}

.contact-list .contact-item i {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary;
}

.contact-list .contact-item span {
    padding-top: 2px;
    padding-left: 10px;
    display: block;
}

.btn-send {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 3rem;
}

.btn-send .spinner {
    margin-right: 6px;
    display: none;
}

.btn-send-loading .spinner {
    display: block;
}

// ========== News Article ===========
.blog-content {
    padding-top: $header-height;
}