@include media-breakpoint-down(sm){
    h1, .h1{
        font-size: 40px;
        letter-spacing: normal;
        line-height: normal;
    }
    h2, .h2{    
        font-size: 30px;
        letter-spacing: normal;
    }
    #header{
        .header-hamburger{
            display:block;
            margin-left: auto;
        }
        .header-mobile-nav{
            height:100vh;
            z-index:5;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: $secondary !important;
            .header-contact{
                display:block;
                .header-contact-item > a{
                color: #fff !important;}
            }
            .nav-menu{
                margin:0;
                padding:0;
                .nav-item{
                    width:100%;
                }
            }

            .nav-one > li > a{    
                display: flex;
                align-items: center;
                padding: 10px 25px;
                color: #fff;
                font-size: 17px;
                font-weight:700;
                .fas{
                    right:25px;
                    position: absolute;
                }
            }

            .nav-two{
                position: static;
            }

            .nav-two > li > a{    
                display: block;
                padding: 10px 55px;
                font-size: 17px;
                font-weight:700;
            }
            
            .nav-one > li > a.active,
            .nav-one > li > a:hover{
                background-color: white;
                color:$secondary !important;
            }

            .nav-two > li > a.active,
            .nav-two > li > a:hover{
                background-color: white;
                color:$secondary !important;
            }
        }
        .header-mobile-nav-active{
            display:block;
        }
        .header-nav{
            display:none;
        }
    }

    #banner.banner-main{
        .banner-item {
    
            .banner-img{
                width:100%;
                flex:0 0 100%;

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
            .banner-content{
                width: 100%;
                flex: 0 0 100%;
            }
        }
    }

    .section-aboutus{
        .aboutus-img{
            height:350px;
        }
    }

    #footer{
        height:auto;
        padding-top:50px;
    }

    .page-aboutus{
        .archievement{
            .singborder{
                font-size: 10px;
            }
        }
        .section-3button{
            .container{
                .row{
                    .col-6{
                        .next{
                            .btn{
                                .icon{
                                    margin-right: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page-product-detail{
        .text-container{
            margin-top: 2rem;
        }
    }
}
//=== > sm ===
@include media-breakpoint-down(xs){
    #footer {  
        .footer-inner {
            .row{
                .col-sm-7{
                    .row{
                        .col-sm-5{
                            h5{
                                margin-bottom: 0 !important;
                            }
                        }
                    }
                    .quicklink-list{
            
                        .col-sm-12{
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }

    .engaging-customer{
        text-align: center;
        margin-bottom: 1rem;
    }
}

@include media-breakpoint-up(sm){
    #footer {
        .quicklink-list{
            .col-sm-12{
                padding: 14px;
            }
        }
    }
}

@include media-breakpoint-up(lg){
    .banner-1-logo-container{
        position: absolute;
        right:0px;
        bottom:10%;
    }

    .page-product-detail{
        .text-container{
            margin: 3rem;
        }
    }
}