#header{
    .nav-menu { list-style: none; padding:0; margin:0; margin-left:10px; padding-right:20px;position: relative; display:flex; justify-content: center; width:100%;height:63px}
    .nav-menu li {position:relative}
    .nav-menu a,
    .nav-menu a:link,
    .nav-menu a:hover { text-decoration: none; }
    .nav-menu > li > a{
        color:$header-font-color;
        font-family:$font-secondary;
        font-weight:400;
        position:relative;
    }
    .nav-two {
        padding-top: 6.5px;
        position: absolute;
        flex-direction:column;
        display:none;
        background-color:$secondary;
        list-style: none;
        .nav-item{
            width:100%;
            font-weight: bold;
        }
    }
    .nav-two > li > a{height:40px;font-size:.8em;color:white;}

    .nav-one > li > a{    
        display: block;
        padding: 10px 25px;
        color: $secondary;
        font-size: 15px;
        font-weight:500;
    }

    .nav-three {
        flex-direction:column;
        display:none;
        background-color:$secondary;
        list-style: none;
        .nav-item{
            width:100%;
            // font-weight: bold;
        }
    }

    .nav-three > li > a{height:40px;font-size:.8em;color:white;}

    .nav-three > li > a{    
        display: block;
        padding: 10px 25px;
        color: #fff;
        font-size: 12px;
        font-weight:700;
    }

    
    // Hover section
    .nav-one > li > a.active,
    .nav-one > li > a:hover{
        background-color: $secondary;
        color:$primary;
    }

    .nav-two > li > a.active,
    .nav-two > li > a:hover{
        background-color: white;
        color:$secondary;
    }

    .nav-three > li > a.active,
    .nav-three > li > a:hover{
        background-color: white;
        color:$secondary;
    }
    

    .header-mobile-nav{
        .nav-menu {
            flex-direction:column;
        }
        .nav-menu > li > a{
            color:#fff;
        }

        .nav-menu > li > a.active,
        .nav-menu > li > a:hover{
            text-decoration: none;
            background:#fff;
            color:$dark;
        }
    }
}

#footer{
    .nav-menu { display:flex;list-style: none; padding:0; margin:0;position: relative; }
    .nav-menu li {position:relative;}
    .nav-menu a,
    .nav-menu a:link,
    .nav-menu a:hover { text-decoration: none; }
    .nav-menu > li > a{
        font-family:$font-secondary;
        font-size:12px;
        width:100%;
        display:flex;
        position:relative;
        color:$primary;
        padding: 0 10px;
    }
    .nav-menu > li > a:hover,
    .nav-menu > li > a.active{
        text-decoration: underline;
    }

    .nav-splitter {
        border-left: 1px solid #fff;
        margin: 0 10px;
        padding: 0;
    }
}